#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config SPIM_WORKAROUND_FORCE_OFF
	bool "Force disable workaround"
	default n
	help
	  When enabled, the workaround for the SPIM PAN issue will be disabled.

source "Kconfig.zephyr"
